{% extends "crm/base_list.html.twig" %}

{% block title %}Administrace - {{ header }}{% endblock %}
{% block list_header %}{{ header|upper }}{% endblock %}
{% block addbtn %}{% if is_granted("ROLE_ADMIN") %}<a href="{{ path(add_route_name) }}" class="btn btn-primary">Přidat hodnotu</a> {% endif %}{% endblock %}

{% block table %} 
    <table class="table table-striped table-hover">
        <thead>
            
            {% set directionParam = (app.request.get("direction")|lower == "asc") ? "desc" : "asc" %}
            {% set directionParamIcon = (app.request.get("direction")|lower == "asc") ? "keyboard_arrow_down" : "keyboard_arrow_up" %}
            {% set activeSortItem = app.request.get("orderBy") %}

            <tr class="text-center">
                <th class="text-start ps-2">
                    <a href="{{ path(list_route_name, {orderBy: "name", direction: (activeSortItem == "name") ? directionParam : "asc"}) }}">
                        {{ "Název"|upper }} 
                        <i class="material-icons sort-icon">{{ (activeSortItem == "name") ? directionParamIcon : "keyboard_arrow_up" }}</i>
                    </a>
                </th>
                <th class="text-start ps-2">
                    <a href="{{ path(list_route_name, {orderBy: "caption", direction: (activeSortItem == "caption") ? directionParam : "asc"}) }}">
                        {{ "Popis"|upper }} 
                        <i class="material-icons sort-icon">{{ (activeSortItem == "caption") ? directionParamIcon : "keyboard_arrow_up" }}</i>
                    </a>
                </th>
                <th class="text-start ps-2">
                    <a href="{{ path(list_route_name, {orderBy: "value", direction: (activeSortItem == "value") ? directionParam : "asc"}) }}">
                        {{ "Hodnota"|upper }} 
                        <i class="material-icons sort-icon">{{ (activeSortItem == "value") ? directionParamIcon : "keyboard_arrow_up" }}</i>
                    </a>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% if entities is not defined %}
                <tr class="align-middle">
                    <td colspan="2">Aktuálně není vytvořena žádná položka nastavení</td>
                    <td></td>
                    <td></td>
                </tr>
            {% else %}
                {% for item in entities %}
                    <tr class="align-middle text-center">
                        <td class="name text-start">{{ item.name }}</td>
                        <td class="name text-start">{{ item.caption }}</td>
                        <td class="name text-start">{{ item.value }}</td>
                        <td class="buttons">
                            <a href="{{ path(edit_route_name, {id: item.id}) }}" class="btn btn-primary btn-sm my-1">Upravit</a>
                            <a href="{{ path(remove_route_name, {id: item.id}) }}" class="btn btn-primary btn-sm my-1">Smazat</a>
                            <a href="{{ path(add_route_name, {id: item.id}) }}" class="btn btn-primary btn-sm my-1">Kopírovat</a>
                        </td>
                    </tr>                
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
        
    <style>
        td.name {
            min-width: 250px !important;
            white-space: normal !important;
        }

        td.buttons {
            white-space: normal !important;
        }

        .ws-normal {
            white-space: normal !important;
        }

        i.sort-icon {
            vertical-align: middle;
            margin-top: -5px;
        }
    </style>
{% endblock %}